/* ================================================================
    Home Page
=================================================================== */

.home {

    .section-header {
        background: url('../img/bg_home.jpg');

        .container {

            @include bp-l {
                min-height: 400px;
            }
        }

        h1 {
            position: static;
            margin: 0 0 .5em;
            @include font-size(4, 1.5);
            color: #89c23f;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        p {
            @include font-size(2, 1.5);
            color: #fff;
        }

        .hero-copy {
            position: absolute;
            top: 45%;
            right: 0;
        }
    }
}
