/* ================================================================
    Home Page
=================================================================== */

.home {

    .section-header {
        background-image: url('../img/bg_home.jpg');

        .container {
            min-height: 254px;
        }

        h1 {
            position: static;
            margin: 0 0 .5em;
            color: $blue;
            @include font-size(2, 2.2);
            letter-spacing: 1px;

            @include bp-l {
                @include font-size(2.5, 1.5);
            }
        }

        p {
            @include font-size(1.5, 1.5);
            color: #fff;
        }

        .hero-copy {
            padding-top: 100px;
            text-align: center;

            @include bp-l {
                width: auto;
                position: absolute;
                bottom: 0;
                right: 0;
                text-align: right;
                padding: 0;
            }
        }
    }

    .featured-content {
        @extend %clearfix;
        margin: 3.5em 0;

        .featured-news > h2, .featured-event > h2 {
            text-transform: uppercase;
            text-align: left;
            letter-spacing: 1px;
            color: #999;
            font-weight: 400;

            @include bp-l {
                @include font-size(1.2, 1.5);
            }
        }

        .featured-event {
            padding: 0 0 3em;
            border-bottom: 1px dashed #ececec;

            @include bp-l {
                float: left;
                width: 50%;
                padding: 0 2em 0 0;
                border-right: 1px dashed #ccc;
                border-bottom: none;
            }

            .description {
                margin: .5em 0;
            }

            span {
                margin-right: 1em;
                color: #8e8e8e;

                i {
                    margin-right: 5px;
                }
            }

            .event h2 {
                margin: .5em 0 .25em 0;
            }
        }

        .featured-news {
            padding-top: 3em;

            @include bp-l {
                float: right;
                width: 50%;
                padding-left: 2em;
                padding-top: 0;
            }

            .news-item {
                margin: 0 0 1em;

                h2 {
                    margin-bottom: .25em;
                }

                .date {
                    color: #8e8e8e;
                }
            }
        }
    }

    .featured-members {
        @extend %clearfix;
        padding: 2em 0;
        background-image: url('../img/bg_featured-members.jpg');

        @include bp-l {
            padding: 5em 0;
        }

        h2 {
            color: lighten(#152b4a, 10%);
            text-align: center;
            text-transform: uppercase;

            @include bp-l {
                margin: 0 0 2em;
                @include font-size(2, 1.2);
            }
        }

        .members-list {
            margin: 0;
            list-style-type: none;

            li {
                text-align: center;

                @include bp-l {
                    width: 33.3%;
                    float: left;
                }

                .item-title {
                    font-size: 20px;
                    margin: .75em 0 0;

                    a {
                        color: #333;
                    }
                }

                .type {
                    text-transform: capitalize;
                }

                .university {
                    color: #757575;
                    font-size: 14px;

                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
