/* ================================================================
    Home Page
=================================================================== */

.home {

    .section-header {
        background: url('../img/bg_home.jpg');

        .container {

            @include bp-l {
                min-height: 400px;
            }
        }

        h1 {
            position: static;
            margin: 0 0 .5em;
            @include font-size(4, 1.5);
            color: #89c23f;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        p {
            @include font-size(2, 1.5);
            color: #fff;
        }

        .hero-copy {
            position: absolute;
            top: 45%;
            right: 0;
        }
    }

    .featured-content {
        @extend %clearfix;

        .featured-event {
            margin: 1em 0;

            @include bp-l {
                float: left;
                width: 50%;
                padding-right: 2em;
                border-right: 1px dashed #ccc;
            }
        }

        .featured-work {
            margin: 1em 0;

            @include bp-l {
                float: right;
                width: 50%;
                padding-left: 2em;
            }
        }
    }

    .featured-members {
        background: #67798d;
    }
}
