/* ================================================================
    Member List
=================================================================== */

.member-list {
    @extend %clearfix;
    list-style-type: none;

    li {
        @extend %clearfix;
        margin: 0 0 1em;

        @include bp-l {
            float: left;
            width: 45%;
        }

        .avatar {
            float: left;
            margin-right: 1em;
            border: 2px solid #ddd;
        }

        .item {
            float: left;
        }

        .item-title {
            margin: 16px 0 5px;
            @include font-size(1.2, 1.2);
        }

        .type {
            font-size: 14px;
            color: #aaa;
            text-transform: uppercase;
        }

        .university {
            font-size: 14px;
            color: #aaa;

            i {
                margin-right: 5px;
            }
        }
    }
}
