/* ================================================================
    Member List
=================================================================== */

#search-members-form {

    label {
        display: none;
    }

    @include bp-l {
        width: 50%;
        float: right;
        margin: .5em 0 0;
    }
}

#members-order-select {
    margin-bottom: 1em;
}

#members-directory-form {

    .bp-screen-reader-text {
        display: none;
    }

    .item-list-tabs:first-of-type {
        display: none;
    }

    .item-list-tabs ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .pagination-links {
        margin: 1em 0;
    }
}

.member-list {
    @extend %clearfix;
    list-style-type: none;

    li {
        @extend %clearfix;
        margin: 0 0 1em;

        @include bp-l {
            float: left;
            width: 45%;
        }

        .avatar {
            float: left;
            margin-right: 1em;
            border: 2px solid #ddd;
        }

        .item {
            float: left;
        }

        .item-title {
            margin: 16px 0 5px;
            @include font-size(1.2, 1.2);
        }

        .type {
            font-size: 14px;
            color: #aaa;
            text-transform: uppercase;
        }

        .university {
            font-size: 14px;
            color: #aaa;

            i {
                margin-right: 5px;
            }
        }
    }
}
