/* ================================================================
    News
=================================================================== */

/* News Archive ----------------------------------- */

.news-list {

    .news-item {
        margin: 1em 0;

        h2 {
            margin-bottom: .25em;
        }

        .date {
            color: #8e8e8e;
        }
    }
}

/* Single News ----------------------------------- */

.single-news {

    .date {
        margin: 0 0 1em;
        color: #8e8e8e;
        @include font-size(1.125, 1.5);
    }

    .wp-post-image {
        float: right;
        margin: 1em 0;

        @include bp-l {
            margin: 0 0 1em 1em;
        }
    }
}
