// This is where you can put any styles specific to a page
// .page is the class WordPress outputs to the body tag

.breadcrumbs {
    padding: .5em 0;
    font-size: 13px;
    background: #ececec;

    .separator {
        padding: 0 .5em;
        color: #aaa;
    }
}

.page {}
