/* ================================================================
    Profile
=================================================================== */

.profile, .my-account, .bp-user {

    .avatar {
        border: 3px solid #ddd;
    }

    .activity {
        display: none;
    }

    #item-header {
        position: absolute;
        width: 100%;
        top: $header_height - 75px;

        #item-header-avatar {
            @extend .container;
        }

        .profile-image {
            float: left;
            margin-right: 20px;
        }

        .name, .type {
            width: 80%;
            float: left;
            color: #fff;
        }

        .name {
            margin: 12px 0 2px;
            @include font-size(1.5, 1.75);
            font-weight: 700;
        }

        .type {
            text-transform: capitalize;
            color: rgba(255, 255, 255, .8);
        }
    }

    #item-nav {
        background: #ececec;

        .item-list-tabs {
            @extend .container;
            position: relative;
            padding-left: 170px;
            z-index: 60;
        }

        ul {
            margin: 0;
            list-style-type: none;

            li {

                @include bp-l {
                    display: inline-block;
                    margin-right: 1em;
                }
            }

            a {
                display: block;
                padding: .5em .25em;
                color: #333;
            }

            li:first-child a {
                padding-left: 0;
            }

            .current a {
                font-weight: 700;
                color: #000;
            }
        }
    }

    #item-body {
        @extend .container;

        .item-list-tabs {
            position: relative;
            padding-left: 170px;
            z-index: 60;

            ul {
                margin: 0;
                list-style-type: none;

                li {

                    @include bp-l {
                        display: inline-block;
                        margin-right: 1em;
                    }
                }

                a {
                    display: block;
                    padding: .5em 0;
                    font-size: .9em;
                }

                .current a {
                    font-weight: 700;
                }
            }
        }
    }

    .profile-fields {
        margin-bottom: 20px;

        > div {
            margin: 0 0 1em;

            @include bp-l {
                width: 33%;
                float: left;
                margin-bottom: 2em;
            }
        }

        .label {
            font-size: 14px;
            text-transform: uppercase;
            color: #aaa;
        }
    }

    .profile {
        margin-top: 20px;
    }

    .member-information {
        @extend %clearfix;
    }
}

/* Edit Profile ---------------------------------------- */

.profile-edit {

    .field-visibility-settings-notoggle {
        display: none;
    }
}
