/*

    SITEWIDE ELEMENTS
    ========================

    Top level layout elements go in here, if you're building a module or page
    element of some sort, split it out into its own scss file and update
    styles.scss to import it.

*/

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'Merriweather', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1em;
    font-family: 'Lato', Arial, sans-serif;
}

ul, ol {
    margin: 0 0 1.5em 1.5em;
    }

li {
    > ul,
    > ol {
         margin-bottom:0;
         }
    }

img,
a img {
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    min-height: auto;
    vertical-align: middle;
    }

figure, img {

    }

figure {

    figcaption {

        }
    }
