/*

    SITEWIDE ELEMENTS
    ========================

    Top level layout elements go in here, if you're building a module or page
    element of some sort, split it out into its own scss file and update
    styles.scss to import it.

*/

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;

    @include bp-l {
        position: relative;
    }
}

p {
    margin-bottom : 1em;
}

a {
    color: $blue;
    text-decoration: none;

    &:focus {
        outline: none;
    }
}

ul, ol {
    margin: 0 0 1.5em 1.5em;
    }

li {
    > ul,
    > ol {
         margin-bottom:0;
         }
    }

img,
a img {
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    min-height: auto;
    vertical-align: middle;
    }

figure, img {

    }

figure {

    figcaption {

        }
    }

.page .um {
    opacity: 1;
}

table {
    width: 100%;
    margin-bottom: 1em;
    font-size: 14px;

    th {
        padding: .25em .5em;
        font-size: 14px;
        text-transform: uppercase;
        text-align: left;
        font-weight: 400;
        color: #aaa;
    }

    td {
        padding: .25em .5em;
        border: 1px solid #ccc;
    }

    a[rel="tag"] {
        margin-right: 5px;
    }
}

.info {
    display: block;
    padding: .25em .5em;
    font-size: 13px;
    border: 1px solid #67798d;
    background: lighten(#67798d, 40%);

    i.fa {
        margin-right: 5px;
        color: #67798d;
    }
}

.sort-notice {
    font-size: 13px;
    font-style: italic;
}

.custom-pagination {
    width: 100%;
    float: left;

    .page-num {
        margin-right: 1em;
    }
}

.primary-content .content a {
    color: #0000ff;
}
