/*

    SITEWIDE ELEMENTS
    ========================

    Top level layout elements go in here, if you're building a module or page
    element of some sort, split it out into its own scss file and update
    styles.scss to import it.

*/

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;

    @include bp-l {
        position: relative;
    }
}

a {
    color: #89c23f;
}

ul, ol {
    margin: 0 0 1.5em 1.5em;
    }

li {
    > ul,
    > ol {
         margin-bottom:0;
         }
    }

img,
a img {
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    min-height: auto;
    vertical-align: middle;
    }

figure, img {

    }

figure {

    figcaption {

        }
    }

.page .um {
    opacity: 1;
}
