/* ================================================================
    Footer
=================================================================== */

footer {
    margin: 1em 0 0;
    padding: 1em 0;
    background: #ccc;
}
