/* ================================================================
    Header
=================================================================== */

header {
    @extend %clearfix;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;

    nav {
        font-family: 'Lato', Arial, sans-serif;

        @include bp-xl {
            float: right;
            width: 70%;
            margin: .5em 0 0;

            ul {
                margin: 0;
                padding: 0;
                float: right;
            }

            li {
                display: inline-block;
                margin-left: 1em;

                a {
                    display: block;
                    padding: 1em;
                    color: #fff;
                    color: rgba(255, 255, 255, 1);
                    font-weight: 700;
                    text-decoration: none;
                }
            }
        }
    }

    .logo {
        display: block;
        background: url('../img/l_ftg.png');
        background: url('../img/l_ftg.svg'),
        linear-gradient(transparent, transparent);
        background-repeat: no-repeat;
        border: 0;
        font: 0/0 a;
        text-shadow: none;
        color: transparent;

        @include bp-xl {
            margin: 16px 0 0;
            width: 300px;
            height: 57px;
            float: left;
        }
    }
}

/* Section Headers -------------------------------------------- */

.section-header {
    background: url('../img/bg_math.jpg');
    background-size: cover;

    .container {
        position: relative;
        min-height: 60px;

        @include bp-l {
            min-height: $header_height;
        }
    }

    .page-template-page-paper-list & {
        background: url('../img/bg_papers.jpg');
    }

    h1 {
        position: absolute;
        bottom: 0;
        margin: 0 0 10px;
        color: #fff;
    }
}
