/* ================================================================
    Header
=================================================================== */

header {
    @extend %clearfix;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;

    nav {
        font-family: 'Lato', Arial, sans-serif;

        @include bp-xl {
            width: 70%;
            float: right;

            ul {
                margin: 0;
                padding: 0;
                float: right;
            }

            li {
                display: inline-block;

                a {
                    display: block;
                    padding: 1em;
                    color: #fff;
                    color: rgba(255, 255, 255, 0.8);
                    text-decoration: none;
                }
            }
        }
    }

    .logo {
        margin: 1em 0 0;
        color: #fff;
        font-size: 20px;
        text-decoration: none;

        @include bp-xl {
            width: 30%;
            float: left;
        }
    }
}

/* Section Headers -------------------------------------------- */

.section-header {
    background: url('../img/bg_math.jpg');
    background-size: cover;

    .container {
        position: relative;
        min-height: 60px;

        @include bp-l {
            min-height: $header_height;
        }
    }

    .page-template-page-paper-list & {
        background: url('../img/bg_papers.jpg');
    }

    h1 {
        position: absolute;
        bottom: 0;
        margin: 0 0 10px;
        color: #fff;
    }
}
