/* ================================================================
    Header
=================================================================== */

header {
    @extend %clearfix;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;

    nav {
        position: absolute;
        width: 95%;
        margin: 9px 0 0;
        padding: 2em 0;
        font-family: 'Lato', Arial, sans-serif;

        ul {
            margin: 0;
            display: none;
        }

        li {
            display: block;
            text-align: center;

            a {
                display: block;
                padding: .5em 1em;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

        }

        &.open {
            opacity: 0;
            background: #0C1E38;
            animation: fade ease-in-out .4s;
            animation-fill-mode: forwards;

            ul {
                display: block;
            }
        }

        @include bp-m {
            width: 50%;
            right: 2.5%;
        }

        @include bp-l {
            width: 33%;
        }

        @include bp-xl {
            position: static;
            float: right;
            width: 70%;
            margin: 1em 0 0;
            padding: 0;

            &.open {
                background: transparent;
            }

            ul {
                display: block;
                padding: 0;
                float: right;
            }

            li {
                display: inline-block;
                margin-left: 1em;
                text-align: left;

                a {
                    padding: 1em;
                }

                &:last-child a {
                    padding-right: 0;
                }
            }
        }
    }

    .logo {
        float: left;
        display: block;
        width: 240px;
        height: 45px;
        margin: 10px 0;
        background: url('../img/l_ftg.png');
        background: url('../img/l_ftg.svg'),
        linear-gradient(transparent, transparent);
        background-repeat: no-repeat;
        border: 0;
        font: 0/0 a;
        text-shadow: none;
        color: transparent;

        @include bp-xl {
            margin: 16px 0 0;
            width: 300px;
            height: 57px;
        }
    }

    .nav-toggle {
        display: block;
        position: absolute;
        top: 30px;
        right: 2.5%;
        width: 42px;
        height: 42px;
        border: none;
        background: transparent;
        z-index: 999;
        transition: all 250ms ease-in-out;

        @include bp-xl {
            display: none;
        }

        &:focus {
            outline: none;
        }

        span {
            left: 6px;
        }

        span, span:before, span:after {
          cursor: pointer;
          border-radius: 1px;
          height: 3px;
          width: 30px;
          background: #fff;
          position: absolute;
          display: block;
          content: '';
          transition: all 250ms ease-in-out;
        }

        span:before {
          top: -10px;
        }

        span:after {
          bottom: -10px;
        }

        &.active {

            span {
                background-color: transparent;
            }

            span:before, span:after {
                top: 0;
                background-color: #fff;
            }

            span:before {
                transform: rotate(45deg);
            }

            span:after {
                transform: rotate(-45deg);
            }
        }
    }
}

/* Section Headers -------------------------------------------- */

.section-header {
    background: url('../img/bg_math.jpg');
    background-size: cover;

    .container {
        position: relative;
        min-height: 60px;

        @include bp-l {
            min-height: $header_height;
        }
    }

    .page-template-page-paper-list & {
        background: url('../img/bg_papers.jpg');
    }

    h1 {
        position: absolute;
        bottom: 0;
        margin: 0 0 10px;
        color: #fff;
    }
}
