/* ================================================================
    Site Layout
=================================================================== */

.primary-content, .container {
    width: 95%;
    margin: 0 auto;

    @include bp-xl {
        width: 1000px;
    }

    &.type-profile {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

.primary-content {
    @extend %clearfix;
    padding: 1em 0;

    aside {

        @include bp-l {
            float: left;
            width: 30%;
        }
    }

    .content-block {

        @include bp-l {
            float: right;
            width: 65%;            
        }
    }
}
